/* 언어설정 */

@charset 'UTF-8';

/* reset */

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #333;
}
ul,
ol {
  list-style: none;
}
img {
  border: none;
  vertical-align: bottom;
}

/* 헤더설정 */
header {
  background-color: #f6f5ef;
}
header h1 {
  background-image: url("img/top-logo.png");
  background-repeat: no-repeat;
  width: 130px;
  height: 120px;
  background-size: contain;
  text-indent: -9999px;
}
header .util {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
}
header .util li {
}
header .util li a {
  display: block;
  padding: 10px;
}
header .util li a:hover {
  text-decoration: underline;
}

.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

header .gnb {
}
header .gnb ul {
  display: flex;
}
header .gnb ul li {
  margin: 0 2px;
}
header .gnb ul li a {
  display: block;
  padding-top: 10px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  /* padding: 10px 20px 30px 20px; */
}

header .gnb ul li a:hover {
  background-color: #333;
  color: #00b050;
  text-decoration: underline;
  font-weight: bold;
}

/* hero설정 */

.hero {
  height: 32vw;
  background-size: cover;
  background-position: center;
  background-image: url("img/2023_disney2_top_bg.jpg");
}

/* 드링크포지션 */
.hero_inner {
  position: relative;
  height: 100%;
}
.hero_inner > div {
  position: absolute;
}

.hero_inner > div:nth-child(1) {
  left: 0;
  top: 50%;
  margin-top: -80px;
}
.hero_inner > div:nth-child(2) {
  left: 170px;
  bottom: 50%;
  margin-bottom: -120px;
  border: 2px solid #401b0d;
  padding: 10px 30px;
  color: #401b0d;
  border-radius: 5px;
  font-size: 14px;
}
.hero_inner > div:nth-child(3) {
  left: 50%;
  top: 0;
  margin-left: -120px;
  margin-top: -50px;
}
.hero_inner > div:nth-child(4) {
  left: 50%;
  bottom: 0;
  margin-left: 300px;
  margin-bottom: 100px;
  z-index: 1;
}
.hero_inner > div:nth-child(5) {
  left: 50%;
  top: 0;
  margin-left: 150px;
  margin-top: 100px;
  z-index: 0;
}

/* notice 설정 */

.notice {
  display: flex;
}
.notice > div {
  width: 50%;
}
/* notice바로아래 자손자를 선택하고 있는 다이렉트로
notice001과 notice002만 선택한다. */

.notice > div h2 {
  font-weight: normal;
  font-size: 28px;
  width: 40%;
}
.notice > div:nth-child(1) h2 {
  font-weight: normal;
  font-size: 28px;
  color: #fff;
}

.notice > div ul {
  height: 40px;
  position: relative;
  width: 100%;
  background-color: yellow;
  overflow: hidden;
}
.notice > div ul li {
  background-color: red;
  margin-bottom: 10px;
  height: 40px;
  position: absolute;
  left: 0;
  top: 100%;
  transition: all 0.8s;
}
.notice > div ul li:nth-child(1) {
  top:0%;
}
.notice > div ul li a {
  color: #fff;
  display: block;
}
.notice > div p {
}
.notice > div img {
}


/* 테스트 */
.notice>div ul:hover li {top: 0;}






/* 상세설정 */
.notice001 {
  background-color: #333;
  display: flex;
  justify-content: flex-end;
}
.notice002 {
  background-color: antiquewhite;
}

.notice > div > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

/* ################# 미디어쿼리구간 #################*/

/* 1290px 이상일때 */
@media (min-width: 1290px) {
  .header_inner,
  .hero_inner {
    width: 1280px;
    margin: 0 auto;
  }

  .notice_inner001 {
    width: 640px;
  }
  .notice_inner002 {
    width: 640px;
  }
}
